/* основной текст #757575 */
/* цвет заголовков #212121 */
/* цвет акцентный #2196F3 */
/* белый #FFFFFF */

:root {
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --primary-white-color: #ffffff;
    --black-text-color: #000000;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

/* logo
 */
.logo {
    color:var(--black-text-color);
    font-family: Raleway, sans-serif;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo .accent {
    color: var(--accent-text-color);
}

.logo:hover {
    color: var(--accent-text-color);
}
/* site nav */

.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--black-text-color);
}

.site-nav .link.current {
    color: var(--accent-text-color);
}

.auth-nav .contact {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration-line: none;
}
.auth-nav .contact:hover,
.auth-nav .contact:focus {
    color: var(--accent-text-color);
}

/* hero */

.hero {
    background-color:  #2F303A;
}
.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
}
/* button */

.button {
    color: var(--primary-white-color);
    background-color: var(--accent-text-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;  
    text-decoration: none;
}

.btn-filter {
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.btn-filter:hover,
.btn-filter:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-text-color);
}

/* section */

.section {
    background-color: var(--primary-white-color);
}

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}


.section-title.feature {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;

}

.names-list .name {
    color:var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.names-list .name-profession {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.19;
}

.section.secondary {
    background-color: #F5F5F5;
}

.section.people {
    background-color: #F5F4FA;
}

.option {
    font-size: 16px;
    line-height: 1.9;
}
/* features */

.features .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.features .text {
    font-size: 14px;
    line-height: 1.7;
}


/* footer */
footer {
    background: #2F303A;
    
}

.logo.studio {
    color: var(--primary-white-color);
}

footer .city {
    color: var(--primary-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration-line: none;
}
footer .info {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: none;
}

footer .info:hover,
footer .info:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-text-color);
}